/*页面整体布局*/
.layout {
  /*最大宽度*/
  max-width: 800px;
  /*最小宽度*/
  min-width: 320px;
  margin: 0 auto;
}
/*顶部*/
header {
  color: white;
  text-align: center;
  background-color: #EF4E1E;
  height: 50px;
  line-height: 50px;
  font-size: .4rem;
  position: fixed;
  z-index: 100;
  width: 100%;
}
header i {
  margin-right: 30px;
}
header span {
  float: left;
}
header span a {
  display: inline-block;
  color: white;
  width: 50px;
  height: 50px;
}
header span a i {
  margin-top: 5px;
  margin-left: 10px;
}
header span a:hover {
  color: white;
}
/*主体全屏滚动*/
html,
body {
  height: 100%;
}
.swiper-container {
  width: 320px;
  height: 480px;
  padding-top: 50px;
  width: 100%;
  height: 100%;
  background: #000;
  font-size: .25rem;
}
.swiper-slide {
  width: 100%;
  height: 100%;
  background-color: #1A1A1A;
}
img {
  display: block;
}
.swiper-pagination-bullet {
  width: 6px;
  height: 6px;
  background: #fff;
  opacity: .4;
}
.swiper-pagination-bullet-active {
  opacity: 1;
}
@-webkit-keyframes start {
  0%,
  30% {
    opacity: 0;
    -webkit-transform: translate(0, 10px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(0, -8px);
  }
}
@-moz-keyframes start {
  0%,
  30% {
    opacity: 0;
    -moz-transform: translate(0, 10px);
  }
  60% {
    opacity: 1;
    -moz-transform: translate(0, 0);
  }
  100% {
    opacity: 0;
    -moz-transform: translate(0, -8px);
  }
}
@keyframes start {
  0%,
  30% {
    opacity: 0;
    transform: translate(0, 10px);
  }
  60% {
    opacity: 1;
    transform: translate(0, 0);
  }
  100% {
    opacity: 0;
    transform: translate(0, -8px);
  }
}
.ani {
  position: absolute;
}
.txt {
  position: absolute;
}
#array {
  position: absolute;
  z-index: 999;
  -webkit-animation: start 1.5s infinite ease-in-out;
}
.ys {
  text-align: center;
  font-size: 3em;
  display: block;
  width: 100%;
  max-height: 5em;
  font-family: Arial;
  font-weight: bold;
  color: #939393;
}
.swiper-slide1 {
  background-image: url('http://test.elvmedia.cn:8080/test/image/002.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.swiper-slide1 .ys {
  color: #fff;
}
.swiper-slide1 .ys .time {
  margin-top: 50%;
  font-size: .6rem;
}
.swiper-slide1 .ys .time .timeRight1,
.swiper-slide1 .ys .time .timeRight2 {
  margin-bottom: .1rem;
  text-shadow: 3px 3px 3px rgba(41, 255, 255, 0.43);
}
.swiper-slide1 .ys .time .timeRight1 span,
.swiper-slide1 .ys .time .timeRight2 span {
  margin: 0 15px;
}
.swiper-slide2 .swiper-slide {
  padding: 0px 20px 0px 20px;
}
.swiper-slide2 .swiper-slide .ani {
  color: #fff;
  padding-bottom: 5px;
  position: static;
}
.swiper-slide2 .swiper-slide .ani .title .name {
  font-size: .3rem;
  letter-spacing: 3px;
}
.swiper-slide2 .swiper-slide .ani p {
  font-size: .25rem;
  color: #72767B;
  line-height: 25px;
  text-align: justify;
}
.swiper-slide2 .swiper-slide li:nth-child(even) {
  background-color: #292E34;
  margin-left: -20px;
  padding-left: 20px;
  margin-right: -20px;
  padding-right: 20px;
}
.swiper-slide2 .swiper-slide li:nth-child(odd) {
  background-color: #1A1A1A;
  margin-left: -20px;
  padding-left: 20px;
}
.swiper-slide3 {
  background-image: url('../images/002.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.swiper-slide3 .ys {
  color: #fff;
}
.swiper-slide3 .ys #mainiframe {
  color: red;
}
.swiper-slide4 {
  background: #fff;
}
.swiper-slide4 .ys .steps {
  margin: 15px 20px;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0px 2px 3px 3px #CEC6C6;
  font-size: .3rem;
  padding: 5px;
  line-height: .5rem;
  text-align: left;
}
.swiper-slide5 {
  background-image: url('../images/003.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 80%;
}
.swiper-slide5 .ys {
  color: #000;
}
.swiper-slide5 .ys .attention {
  padding: 10px 30px 10px 30px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 15px;
}
.swiper-slide5 .ys .attention p {
  font-size: .3rem;
  text-shadow: 4px 3px 3px #383737;
}
.swiper-slide5 .ys .attention p span {
  border-bottom: 3px solid #ccc;
  padding-bottom: 10px;
  color: red;
}
.swiper-slide5 .ys .attention ul {
  font-size: .2rem;
  text-align: left;
  color: #000;
}
.swiper-slide6 {
  background: #fff;
}
.swiper-slide6 .ys {
  color: #000;
}
.swiper-slide6 .ys .special {
  font-size: .2rem;
  text-align: left;
}
.swiper-slide6 .ys .special p {
  color: red;
  font-size: .35rem;
  text-align: center;
  margin-top: 10px;
}
.swiper-slide6 .ys .special .mySelf {
  margin: 20px;
  margin-top: 0px;
}
.swiper-slide6 .ys .special .mySelf form .colorRed {
  margin-top: 5px;
  color: red;
}
.swiper-slide6 .ys .special .mySelf form button {
  display: inline-block;
  width: 100%;
  height: 40px;
  margin-top: .4rem;
  border-radius: 5px;
  font-weight: 600;
  border: 1px solid #3A74E2;
  background-color: #fff;
  font-size: .3rem;
}
.swiper-slide6 .ys .special .mySelf form button a {
  height: 90%;
  width: 100%;
  display: inline-block;
  color: #3A74E2;
  margin-top: 10px;
}
.swiper-slide6 .ys .special .mySelf form .gray {
  display: inline-block;
  width: 100%;
  height: 40px;
  margin-top: .4rem;
  border-radius: 5px;
  font-weight: 600;
  border: 1px solid #ccc;
  color: #ccc;
  background-color: #fff;
  font-size: .3rem;
}
.swiper-slide6 .ys .special .mySelf form .gray a {
  height: 90%;
  width: 100%;
  display: inline-block;
  color: #ccc;
  margin-top: 10px;
}
